/*--------------------------*/
/* --Browser-Kalibrierung-- */
/*--------------------------*/
* { padding: 0; margin: 0; border: 0; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; box-sizing: border-box;}


/* Anweisungen für IE */
html, body, #wrapper {  
    width: 100%;
    height: 100%;
    color: #053543;
}

body { font-size: 100.01%;}

img { display: block; }

/*--------------------------*/
/* ---Ende Kalibrierung--- */
/*--------------------------*/


/*-------------*/
/*----Fonts----*/
/*-------------*/
/*font-family: 'Unica One', cursive;
font-family: 'Open Sans', sans-serif;*/
/*-------------*/
/*-Fonts-Ende--*/
/*-------------*/

h1 {
    color: #053543;
    top: 40%;
    font-family: 'Unica One', cursive;
    font-size: 55px;
    text-align: center;
    padding-top: 17px;
}

h2 {
    color: #053543;
    font-family: 'Unica One', cursive;
    font-size: 20px;
}

#wrapper {
    background: #e785b8; /* Old browsers */
    background: #bceaee;/* Old browsers */
    background: -moz-linear-gradient(top, #89dcf4 30%, #bceaee 100%);/* FF3.6-15 */
    background: -webkit-linear-gradient(top, #89dcf4 30%, #bceaee 100%);/* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #89dcf4 30%, #bceaee 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89dcf4', endColorstr='#bceaee',GradientType=0 );/* IE6-9 */
    overflow: auto;
}

#woman1, #woman5 {
    background: #cf0b71;
    background: rgba(207,11,113,0.6) url("barbie-1436476_960_720.jpg") 78%;
}

#woman2,#woman6 {
    background: #12b8e8;
    background: rgba(18,184,232,0.6) url("adult-2179204_960_720.jpg") 60%;
}

#woman3 {
    background: #ec7b03;
    background: rgba(236,123,3,0.6) url("cyber-2062846_960_720.png");
}

#woman4 {
    background: #108a41;
    background: rgba(16,138,65,0.6) url("clouds-1845517_960_720.jpg") 95%;
}

#wrapper .women {
    background-size: cover;
}

#wrapper .women p {
    text-align: center;
    padding-top: 5px;
}

header {
    height: 14%;
    background: #bceaee;/* Old browsers */
    background: -moz-linear-gradient(top, #89dcf4 0%, #bceaee 100%);/* FF3.6-15 */
    background: -webkit-linear-gradient(top, #89dcf4 0%, #bceaee 100%);/* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #89dcf4 0%, #bceaee 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89dcf4', endColorstr='#bceaee',GradientType=0 );/* IE6-9 */
}

p {
    margin-bottom: 5px;
    line-height: 22px;
}

/*Index*/

main.index {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    height: 86%;
    max-width: none;
    margin: 0;
    box-shadow: none;
}

main.index a {
    color: #053543;
    text-decoration: none;
}

main.index section {
    height: 100%;
}
/*Index-Ende*/

/*Detail*/

#woman_image {
    width: 100%;
    max-width: 300px;
    float: left;
}

#woman_image img {
    width: 100%;
}

#woman_text {
    width: 100%;
    max-width: 610px;
    float: right;
    text-align: justify;
    padding-left: 15px;
}

#navigation {
    clear: both;
    display: grid;
    grid-template-columns: calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6);
    height: 250px;
    width: 100%;
    margin: 0 auto 0 auto;
}

#navigation section {
    height: 100%;
}
#navigation a {
    color: #053543;
    text-decoration: none;
}

main {
    width: 100%;
    max-width: 950px;
    margin: 20px auto 50px auto;
    overflow: auto;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(48,85,88,0.4),
                        -4px -4px 5px 0px rgba(48,85,88,0.4);
    -moz-box-shadow: 4px 4px 5px 0px rgba(48,85,88,0.4)
                    -4px -4px 5px 0px rgba(48,85,88,0.4);
    box-shadow: 4px 4px 5px 0px rgba(48,85,88,0.4),
                -4px -4px 5px 0px rgba(48,85,88,0.4);
}

article {
    overflow: auto;
    background: #f6f0f0;
    padding: 20px;
}
/*Detail-Ende*/